<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="hnApp" ng-controller="MainCtrl as Main" class="hacker-news-app">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="content" ng-class="{'active': Main.currentIndex >= 0}">
        <h1>H<span>acker</span> N<span>ews</span></h1>
    </header>

    <section class="main-container">
        <div class="tabbed-container" ng-class="{'active': Main.currentIndex >= 0}">
            <div class="tab" ng-class="{'active': Main.currentIndex === $index}" id="tab{{$index+1}}" ng-repeat="storyType in Main.storyTypes">
                <div role="button" class="tab-label text-capitalize" ng-click="Main.selectStories($index)" ng-bind="storyType + ' story'"></div>
                <div class="tab-body">
                    <div class="stories">
                        <div class="story" ng-repeat="story in Main.stories[Main.storyTypes[$index]].items" ng-init="Main.last = $last">
                            <a ng-if="story.url" role="button" target="_blank" href="{{story.url}}" class="delayed-fade" ng-class="{'is-in': story.title}" style="transition-delay: {{$index * 250+'ms'}}">
                                <h3 ng-bind="story.title"></h3>
                                <p ng-bind="story.time*1000 | date"></p>
                                <h4 ng-bind="'by ' + story.by"></h4>
                            </a>
                            <div ng-if="!story.url" class="delayed-fade" ng-class="{'is-in': story.title}" style="transition-delay: {{$index * 250+'ms'}}">
                                <h3 ng-bind="story.title"></h3>
                                <p class="story-text" ng-if="story.text" ng-bind-html="story.text"></p>
                                <p ng-bind="story.time*1000 | date"></p>
                                <h4 ng-bind="'by ' + story.by"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/hnfire.js"></script>
        <script src="scripts/services/firebase.js"></script>
        <!-- endbuild -->
</body>
</html>
